::-webkit-scrollbar-track {
  background-color: #080808;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ed0345;
  border-radius: 10px;
}

.addHeight {
  height: auto;
}

.navbar-menu {
  padding-top: 20px;
  font-size: 18px;
}

.navbar-menu .item-a {
  color: #ffffff;
  border-bottom: 1px solid transparent;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.navbar-menu .item-a:hover {
  border-bottom: 1px solid #ed0345;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.navbar-menu a {
  color: #ffffff;
}

.navbar-toggler {
  border: none !important;
  background-color: #ed0345;
  color: #ffffff;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.nav-link {
  padding: .3rem 1rem;
  margin: 10px;
}

.hero {
  height: 100vh;
  background-image: url(../assets/images/cover/chromaColorsLaptop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #636e72;
}

.hero h1 {
  font-size: 3rem;
  color: #ffffff;
}

.btn, .btnFill, .btnEmpty {
  text-shadow: none;
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.btnFill {
  background-color: #ed0345;
  color: #ffffff;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.btnFill:hover {
  -webkit-transform: scale(0.94);
  -ms-transform: scale(0.94);
  transform: scale(0.94);
}

.btnEmpty {
  background-color: transparent;
  color: #ed0345 !important;
  border: 1px solid #ed0345 !important;
  font-weight: bold;
}

.btnEmpty:hover {
  -webkit-transform: scale(0.94);
  -ms-transform: scale(0.94);
  transform: scale(0.94);
}

.deleteBorders {
  border: hidden;
}

.divShadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.addHeight {
  height: 100%;
}
