// Global Classes
.autoHeight{
	height: 100%;
}

.height_100vh{
	height: 100vh;
}

.limitHeightImage{
	height: 50% !important;
}

.development{
	background-color: red;
}

.autoSizing{
	width: 100%;
	height: auto;
	object-fit: cover;
}