// Branding colors -------------------------------------------

$paletteBrandOne: #ed0345;
$paletteBrandTwo: #ff5181;
$paletteBrandThree: #ff044a;
$paletteBrandFour: #7f2841;
$paletteBrandFive: #cc033b;

// Basic Colors

$colorWhite: #ffffff;
$colorGrayLight: #b2bec3;
$colorGrayNormal: #636e72;
$colorGrayHeavy: #2d3436;
$colorBlack: #000000;
$colorTransparent: transparent;
$colorTransparentBlack: rgba(0,0,0,.9);

// Social Network Brands

$colorFacebook: #1a538a;
$colorGmail: #d9534f;

// Shadows ---------------------------------------------------
$colorShadow: rgba(0,0,0,.7);

.textShadow{
	text-shadow: 2px 2px 2px $colorShadow;
}

// Color Clases ----------------------------------------------
.bgBrandOne{
	background-color: $paletteBrandOne;
	color: $colorWhite;
}

.bgBrandTwo{
	background-color: $paletteBrandTwo;
	color: $colorWhite;
}

.bgBrandThree{
	background-color: $paletteBrandThree;
	color: $colorWhite;
}

.bgBrandFour{
	background-color: $paletteBrandFour;
	color: $colorWhite;
}

.bgBrandFive{
	background-color: $paletteBrandFive;
	color: $colorWhite;
}

.bgWhite{
	background-color: $colorWhite;
}

.bgGrayHeavy{
	background-color: $colorGrayHeavy;
	color: $colorWhite;
}

.textBrandOne{
	color: $paletteBrandOne !important;
}

.textBrandTwo{
	color: $paletteBrandTwo !important;
}

.textBrandThree{
	color: $paletteBrandThree !important;
}

.textBrandFour{
	color: $paletteBrandFour !important;
}

.textBrandFive{
	color: $paletteBrandFive !important;
}

.textWhite{
	color: $colorWhite !important;
}

.textBlack{
	color: $colorBlack !important;
}

.textGrayHeavy{
	color: $colorGrayHeavy !important;
}

.textFacebook{
	color: $colorFacebook !important;
}

.textGoogle{
	color: $colorGmail !important;
}

.linkRemove{
	text-decoration: none !important;
}

.linkWhite{
	color: $colorWhite !important;
}