// Branding colors

$paletteBrandOne: #ed0345;
$paletteBrandTwo: #ff5181;
$paletteBrandThree: #ff044a;
$paletteBrandFour: #7f2841;
$paletteBrandFive: #cc033b;

// Basic Colors

$colorWhite: #ffffff;
$colorBlack: #000000;
$colorTransparent: transparent;


// Shadows

$colorShadow: rgba(0,0,0,.7);