// Buttons --------------------------------------------------------------
@mixin buttonDefault{
	text-shadow: none;
	text-decoration: none;
	transition: .3s;
	border: none;
	cursor: pointer;
	border-radius: 2px;
}

@mixin buttonFillColor{
	background-color: $paletteBrandOne;
	color: $colorWhite;
	box-shadow: 3px 3px 3px $colorShadow;
}

@mixin buttonEmptyColor{
	background-color: $colorTransparent;
	color: $paletteBrandOne !important;
	border: 1px solid $paletteBrandOne !important;
	font-weight: bold;
}

@mixin buttonFacebookColor{
	background-color: $colorFacebook !important;
	color: $colorWhite !important;
	border: 0px solid $colorTransparent !important;
	font-weight: bold;
	padding: 10px 15px;
}

@mixin buttonGmailColor{
	background-color: $colorGmail !important;
	color: $colorWhite !important;
	border: 0px solid $colorTransparent !important;
	font-weight: bold;
	padding: 10px 15px;
}

@mixin buttonWhiteColor{
	background-color: $colorWhite !important;
	border: 0px solid $colorTransparent !important;
	font-weight: bold;
	padding: 10px 15px;
}

%btnDefault{
	@include buttonDefault;
}

.btn{
    @extend %btnDefault;
    &Fill{
	    @extend %btnDefault;
	    @include buttonFillColor;
	    &:hover{
	    	transform: scale(.94);
	    	color: $colorWhite;
	    }
    }
    &Empty{
	    @extend %btnDefault;
	    @include buttonEmptyColor;
	    &:hover{
	    	transform: scale(.94);
	    }
    }
    &Facebook{
	    @extend %btnDefault;
	    @include buttonFacebookColor;
	    &:hover{
	    	transform: scale(.94);
	    }
    }
    &Gmail{
	    @extend %btnDefault;
	    @include buttonGmailColor;
	    &:hover{
	    	transform: scale(.94);
	    }
    }
    &White{
	    @extend %btnDefault;
	    @include buttonWhiteColor;
	    &:hover{
	    	transform: scale(.94);
	    }
    }
}

// Borders --------------------------------------------------------------------------------
.deleteBorders{
	border: hidden;
}

.addBorder{
	border: 1px solid $colorGrayLight;
}

.addBorderBrand{
	border: 1px solid $paletteBrandOne;
}


// Shadows --------------------------------------------------------------------------------
.divShadow{
	width: 100%;
	height: 100%;
	background-color: $colorShadow;
}