// Tamaños de texto ----------------------------------------
$fontSizeMenu: 18px;
$fontHero: 3rem;
$fontInfoMedium: 1.3rem;
$fontIconSmall: 15px;
$fontIconMedium: 20px;
$fontIconLarge: 35px;
$fontIconCollapse: 90px;
$fontIconCollapseNarrow: 50px;

.fontIconSmall{
	font-size: $fontIconSmall;
}

.fontIconMedium{
	font-size: $fontIconMedium;
}

.fontIconLarge{
	font-size: $fontIconLarge;
}

.fontIconCollapse{
	font-size: $fontIconCollapse;
}

.fontIconCollapseNarrow{
	font-size: $fontIconCollapseNarrow;
}

.fontInfoMedium{
	font-size: $fontInfoMedium;
}

