// Tamaños de texto ----------------------------------------
$fontSizeMenu: 18px;
$fontHero: 3rem;
$fontIconSmall: 15px;
$fontIconMedium: 20px;
$fontIconLarge: 25px;

.fontIconSmall{
	font-size: $fontIconSmall;
}

.fontIconMedium{
	font-size: $fontIconMedium;
}

.fontIconLarge{
	font-size: $fontIconLarge;
}